@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h3, span, p{
  font-family: 'Poppins', sans-serif !important; 
  text-align: center;
}

.app-body {
  background-image: linear-gradient(#e7d1ff, #6f26ac);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px !important;
}

.card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 450px !important;
}

.btn-container, .input-container{
  margin: 20px;
  text-align: center;
}

.phone-data{
  text-align: center;
}

.phone-span{
  text-transform: capitalize;
  margin-left: 10px;
  font-weight: 500;
}

.loader-container{
  text-align: center;
}